@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.outer
{
   
    height:100%;
    background-color:rgb(244, 72, 72);
    height:50%;
    width:70%;
    color:white;
    font-weight:bold;
    font-size:3rem;
    display:flex;
    align-items:center;
    border-radius:20px;


}

body{
    margin:0px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.heading
{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
}

.bmi-container
{
    height:100%;
    display:flex;
    align-items:center;
    padding:3rem;
    
    
}
.res
{
    background-color:rgb(255, 255, 255);
    color:black;
    padding:2rem;
    font-size:2rem;
    height:120%;
    margin-left:1rem;
    width:50%;
    color:rgb(244, 72, 72);
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow:0px 0px 10px rgb(244, 72, 72);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.inp
{
    width:80%;
    height:2.5rem;
    text-align:center;
    border-radius:20px;
    border:1px solid rgb(244, 72, 72);
    font-size:20px;
    color:rgb(244, 72, 72);
    font-weight:bold;
}

button{
    width:40%;
    
    background-color:white;
    color:rgb(244, 72, 72);
    border:none;
    border:1px solid rgb(244, 72, 72);
    border-radius:20px;
    font-weight:bold;
    transition:background-color 0.2s;
    padding:2px;
    text-align:center;
    margin-top:2rem;
    padding:10px 0px;
    
}
button:hover{
    background-color:rgb(244, 72, 72);
    color:white;
    
}

button:active{
    background-color:white;
    color:rgb(244, 72, 72);
    
}

.res-disp{
    text-align:center;
    font-size: 50px;
}
